<%- include("template/registros") %>

<br><br><br><br><br><br>
<div class="cointainer w-25 m-auto">
    
    <form action="/registro" method="post" class="text-bg-dark p-2">
        <div class="card-body text-center">
            <h5 class="card-title" style="color:rgb(255, 255, 255)">Nuevo Usuario</h5>
        </div>  
        <input 
            type="text"
            placeholder="Usuario"
            class="form-control my-2"
            name="usuario"
            required
        >
        <input 
            type="password"
            placeholder="Password"
            class="form-control my-2"
            name="password"
            required
        >
        <input 
            type="text"
            placeholder="Nombre"
            class="form-control my-2"
            name="nombre"
            required
        >
        <input 
            type="text"
            placeholder="Apellido"
            class="form-control my-2"
            name="apellido"
            required
        >
        <input 
            type="email"
            placeholder="Email"
            class="form-control my-2"
            name="email"
            required
        >
        <button class="btn btn-success btn-block w-100" type="submit" href="/">
            Enviar
        </button>
          
    </form>

</div>